<section class="mx-auto max-w-screen-md">
  <h2 class="my-[1em] text-center text-3xl font-bold text-green">Comments</h2>
  <giscus-widget
    id="comments"
    repo="L1aoXingyu/blogpages"
    repoid="R_kgDOJ-pEOg"
    category="General"
    categoryid="DIC_kwDOJ-pEOs4CYOgH"
    mapping="pathname"
    reactionsenabled="1"
    emitmetadata="0"
    inputposition="bottom"
    theme="preferred_color_scheme"
    lang="en"
    loading="eager"></giscus-widget>
</section>

<script>
  import "giscus";
</script>
